body{
    padding: 0px;
    margin:0px;
    background-image: url('../images/3dback.jpg');
    /* background-color: white; */
    background-position: center;
    background-repeat: no-repeat;
    /* backdrop-filter: blur(0px); */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


.navbar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 15px 40px;
    position: absolute;
    right: 0px;
    left: 0px;
    border:  none;
    background-color: white;
    color: rgb(0, 64, 0);
    height: 50px;
    /* border-bottom: 1px grey solid; */

    .logo{
        width: 90px;
        border: none;
        margin: 0px 10px ;
    }
    .logo,.logo2:hover{
        cursor: pointer;
    }

}

.right{
    font-size: 15px; font-weight: normal;
}
.right:hover{
    cursor: pointer;
}

.main{
    outline:2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.form{
    
    /* box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.456); */
    backdrop-filter: blur(18px);
    background-color: rgba(202, 202, 202, 0.145);
    border: 2px dashed rgba(0, 0, 0, 0.452);
    display: inline-block;
    padding: 0px;
    width: 70%;
    display: flex;
    flex-direction: row;
    border-radius: 10px;

    /* position: fixed;
    top:10%;
    bottom:10%;
    right: 10vh;
    left: 10vh; */
}

.radio{
    font-size: 12px;
    margin-bottom: 17px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border:none;

}

label:hover{
    cursor: pointer;
}



.fill {
    background-color: rgb(255, 255, 255);
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
    margin-bottom:15px ;
    padding: 5px 5px;
    color: rgb(42, 42, 42);
    font-size: 15px;
    font-style: bold;
    border-radius: 4px;
}

.left-section{
    flex: 1;
    border:none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    background-image:linear-gradient(rgba(1, 4, 29, 0.5),rgba(1, 4, 29, 0.5)),url('../images/Meeting.jpg');
    /* background-color: rgba(21, 15, 145, 0.733); */
    background-size: cover;
    object-fit:fill;
    object-position: center;
    width: 100%;
    aspect-ratio: 1/1;
}
.right-section{
    flex: 2;
    border:none;
    padding: 40px 30px;
}
.button{
    background-color: green;
    color: white;
    margin-top: 10px;
    border-radius: 10px;
    border:none;
    padding: 15px;
    font-weight: bold;
    transition-duration: 0.3s;
}
.button:hover{
    cursor: pointer;
    background-color: rgb(0, 98, 0);
}
textarea{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(255, 255, 255, 0.694);
    resize: none;
    font-size: 15px;
    opacity: 0.8;
    outline: none;
    padding: 5px;
    width: 98%; height: 50px;
}
